<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\vs\opensource\lua\skynet_win\lua.exe</StartProgram>
    <StartArguments>.\examples\test.lua</StartArguments>
    <StartWorkingDirectory>E:\vs\opensource\lua\skynet_win</StartWorkingDirectory>
  </propertyGroup>
</Project>